<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Client</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Add Client</h1>

<form th:action="@{/addClient}"
      th:object="${clientDTO}" method="POST">
    FullName:
    <input type="text" th:field="*{fullName}"/>
    <div th:errors="*{fullName}" class="error"/>
    <br/>
    Phone:
    <input type="text" th:field="*{phone}"/>
    <br/>
    Email:
    <input type="text" th:field="*{email}"/>
    <br/>
    PassportNumber:
    <input type="text" th:field="*{passportNumber}"/>
    <br/>
    <input type="submit" value="Create"/>
</form>

<br/>
</body>
</html>