<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Credit</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/_menu.html"></th:block>
<h1>Add Credit</h1>
<form th:action="@{/credit/addCredit}"
      th:object="${creditDTO}" method="POST">
    Credit Name:
    <td><input type="text" th:field="*{creditName}" placeholder="enter credit name"/></td>
    <div th:errors="*{creditName}" class="error"/>
    <br/>
    Credit Limit:
    <input type="text" th:field="*{creditLimit}" placeholder="enter credit limit"/>
    <div th:errors="*{creditLimit}" th:errorclass="error"></div>
    <br/>
    Interest Rate:
    <input type="text" th:field="*{interestRate}" placeholder="enter interest rate"/>
    <div th:errors="*{interestRate}" class="error"></div>
    <br/>
    <input type="submit" value="Create"/>
</form>
<br/>
</body>
</html>