<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Client</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/_menu.html"></th:block>
<h1>Add Client</h1>
<form th:action="@{/client/addClient}"
      th:object="${clientDTO}" method="POST">
    Full Name:
    <input type="text" th:name="login" th:field="*{fullName}" placeholder="enter full name"/>
    <div th:errors="*{fullName}" class="error"></div>
    <br/>
    Phone:
    <input type="text" th:field="*{phone}" placeholder="enter phone"/>
    <div th:errors="*{phone}" class="error"></div>
    <br/>
    Email:
    <input type="text" th:field="*{email}" placeholder="enter email"/>
    <div th:errors="*{email}" class="error"></div>
    <br/>
    Passport Number:
    <input type="text" th:field="*{passportNumber}" placeholder="enter passport number"/>
    <div th:errors="*{passportNumber}" class="error"></div>
    <br/>
    <input type="submit" value="Create"/>
</form>
<br/>
</body>
</html>