<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Client</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/_menu.html"></th:block>
<h1>All Client</h1>
<div>
    <table border="1">
        <tr>
            <th>Client Id</th>
            <th>Full Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Passport Number</th>
        </tr>
        <tr th:each="client : ${clients}">
            <td th:utext="${client.clientId}">...</td>
            <td th:utext="${client.fullName}">...</td>
            <td th:utext="${client.phone}">...</td>
            <td th:utext="${client.email}">...</td>
            <td th:utext="${client.passportNumber}">...</td>
        </tr>
    </table>
</div>
</body>
</html>