<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Credit Advertise</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/_menu.html"></th:block>
<h1>All Credit Advertise</h1>
<div>
    <table border="1">
        <tr>
            <th>Credit Advertise Id</th>
            <th>Credit Id</th>
            <th>Credit Amount</th>
            <th>Loan Term Months</th>
            <th>Client Id</th>
            <th>Credit Graphs Id</th>
        </tr>
        <tr th:each="creditAdvertise : ${creditAdvertises}">
            <td th:utext="${creditAdvertise.creditAdvertiseId}">...</td>
            <td th:utext="${creditAdvertise.creditId}">...</td>
            <td th:utext="${creditAdvertise.creditAmount}">...</td>
            <td th:utext="${creditAdvertise.loanTermMonths}">...</td>
            <td th:utext="${creditAdvertise.clientId}">...</td>
            <td th:utext="${creditAdvertise.creditGraphsId}">...</td>
        </tr>
    </table>
</div>
</body>
</html>