<h3>Choose a section</h3>
<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">

    <a th:href="@{/client/allClient}">Get All Client</a>

    | &nbsp;

    <a th:href="@{/client/addClient}">Add Client</a>

    | &nbsp;

    <a th:href="@{/client/updateClient}">Update Client</a>

    | &nbsp;

    <a th:href="@{/client/deleteClient}">Delete Client</a>


</div>
<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">

    <a th:href="@{/credit/allCredit}">Get All Credit</a>

    | &nbsp;

    <a th:href="@{/credit/addCredit}">Add Credit</a>

    | &nbsp;

    <a th:href="@{/credit/updateCredit}">Update Credit</a>

    | &nbsp;

    <a th:href="@{/credit/deleteCredit}">Delete Credit</a>


</div>

<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">

    <a th:href="@{/creditAdvertise/allCreditAdvertise}">Get All Credit Advertise</a>

    | &nbsp;

    <a th:href="@{/creditAdvertise/addCreditAdvertise}">Add Credit Advertise</a>

    | &nbsp;

    <a th:href="@{/creditAdvertise/deleteCreditAdvertise}">Delete Credit Advertise</a>

    | &nbsp;

    <a th:href="@{/creditGraph/allCreditGraph}">Get All Credit Graph</a>

</div>