<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update Client</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/_menu.html"></th:block>
<h1>Update Client</h1>

<form th:action="@{/client/updateClient}"
      th:object="${clientDTO}" method="POST">
    Select Client:
    <select th:field="*{clientId}">
        <option th:each="client:${clients}"
                th:value="${client.clientId}"
                th:text="${client.fullName}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>