<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Update Selected Credit</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<th:block th:include="/_menu.html"></th:block>
<h1>Update Selected Credit</h1>

<form th:action="@{/credit/updateSelectedCredit}"
      th:object="${creditDTO}" method="POST">
    <input type="hidden" th:field="*{creditId}"/>
    Credit Name:
    <td><input type="text" th:field="*{creditName}"/></td>
    <div th:errors="*{creditName}" class="error"/>
    <br/>
    CreditLimit:
    <td><input type="text" th:field="*{creditLimit}"/></td>
    <div th:errors="*{creditLimit}" class="error"></div>
    <br/>
    InterestRate:
    <input type="text" th:field="*{interestRate}"/>
    <div th:errors="*{interestRate}" class="error"></div>
    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>